@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* headings and logo*/
header {
    display: block;
}

#logo {
    text-align: center;
    font-size: 280%;
    background-color: rgba(170, 240, 209, .3);
    border:1px solid #AAF0D1;
    box-shadow: 10px 10px 6px gray;
    text-shadow: 5px 5px 8px gray;
}


h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4B0082;
}

/* menu */
#menu {
    letter-spacing: 4px;
    text-transform: lowercase;
    font-size: 130%;
    overflow: hidden;
    position: relative;
    text-shadow: 5px 5px 8px #4B0082;
  
    
}

#menu li {
    list-style-type: none;
    float: right;
    margin-left: 100px;
    margin-right: 160px;
}

#menu a {
    text-decoration: none;
    color: #4B0082;
    font: bolder;

}

#menu a:hover {
    color: #AAF0D1;
    background: gray;
    text-transform: uppercase;
}

/*hero image and cover-text */
#cover-text,
#cover-text h2 {
    color: #4B0082;
    
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("..//css/images/image.jpeg") no-repeat center center;
    background-size: cover;

}

#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 550px;
    height: 90px;
    padding-top: 20px;
    padding-left: 10px;
    bottom: 10px;
    left: 85px;
    position: absolute;
    background-color: rgba(255, 126, 0, .3);
    border: 1px solid #FF7E00;
    box-shadow: -15px -15px 5px gray;
    border-style: hidden;
    text-shadow: 5px 5px 8px #4B0082;
}

/* main theme */
.main-theme {
    font-family: Oswald, sans-serif;
    color: #4B0082;
    letter-spacing: 4px;
    padding: 30px;
    text-align: justify;
    font-size: 150%;
    text-shadow: 2px 2px 8px gray;
    }
#main-theme {
    border: 1px solid #AAF0D1;
    border-radius: 20px;
    box-shadow: 20px 20px 5px gray;
    margin: 5px;
    background:#AAF0D1;
}


/* lifehacks*/
.lifehacks {
    text-align: center;
    padding: 10px;
    color: #4B0082;


}

#left-tips {
    padding: 50px;
    background-color: rgba(0, 255, 255, .3);
    font-size: 120%;
font-style: italic;
margin-left: 50px;
    margin-right: 300px;
    border: 1px solid #AAF0D1;
    border-radius: 15px;
    border-style: none;
    box-shadow: 8px 8px 5px gray;
    text-shadow: 5px 5px 8px gray;
    text-align: justify;
}
#right-tips {
    padding: 50px;
    background-color: rgba(0, 255, 255, .3);
    font-size: 120%;
font-style: italic;
margin-right: 50px;
    margin-left: 300px;
    border: 1px solid #AAF0D1;
    border-radius: 15px;
    border-style: none;
    box-shadow: 8px 8px 5px gray;
    text-shadow: 5px 5px 8px gray;
    text-align: justify;
}

.tips h3 {
border: 1px solid #4B0082;
border-radius: 10px;
border-style: none;
box-shadow: 20px 20px 5px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    margin-left: 350px;
    margin-right: 350px;
    text-shadow: 5px 5px 8px gray;
    
    
    }

/* community trips */

#community-trips {
    height: 600px; 
}



#community-trips h2 {
    text-align: center;
    padding: 10px;
  
}

#left-about {
    width: 33%;
    float: left;
    background: url("..//css/images/ams.jpeg") no-repeat center center;
    height: 100%;
    display:block;


}

.trips {
    text-align: center;
    font-family: Oswald, sans-serif;
    background-color: #AAF0D1;
    color: #4B0082;
    font-size: 150%;
   

}

#own-choice {
    font-family: Oswald, sans-serif;
    color: #4B0082;
    background-color: #AAF0D1;
    text-align: center;
    letter-spacing: 4px;
    font-size: 150%;
    
}

#right-about {

    width: 33%;
    float: right;
    background: url("..//css/images/iceland.webp") no-repeat center center;
    height: 100%;

}

#center-about {
    width: 33%;
    margin: 0 auto;
    background: url("..//css/images/bali.jpeg") no-repeat center center;
    height: 100%;

}

#community-trips h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    letter-spacing: 3px;
}

#community-trips a {
    color: white;
    text-decoration: none;
}


#community-trips a:hover {
    background: rgba(255, 126, 0, .3);
}

/*form let's connect */
#lets-connect {
    padding-top: 170px;
}

#form-name {
    background: white;
    text-align: center;
}


#lets-connect p {
    color: #4B0082;
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    padding-top: 30px;
    text-shadow: 5px 5px 8px #4B0082;
}

form {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    color: #4B0082;
    letter-spacing: 3px;
    background-color: rgba(255, 126, 0, .3);
    padding-right: 30px;
    padding-left: 10px;
    border: 1px solid #FF7E00;
    border-style: none;
    box-shadow: 15px 15px 5px gray;
    border-radius: 15px;  
    text-shadow: 5px 5px 8px gray;
    
    
    
}
label {
    display: inline-block;
    width: 250px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;

}

#submit-button {
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 120%;
    font-family: Oswald, sans-serif;
    color: #4B0082;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #AAF0D1;
    border: 2px solid white;
    
    box-shadow: 15px 15px 5px gray;
    margin-left: 500px;
    text-shadow: 5px 5px 8px #4B0082;
    
}
#submit-button:hover {
    background: rgba(255, 126, 0, .3);
    border: 2px solid white;

}

/* footer */
footer #social-links {
    text-align: center;
}

#social-links li {
    display: inline;
}

#social-links i {
    font-size: 200%;
    margin: 5px;
    padding: 10px;
    color: #4B0082;

}

.contact {
    text-align: center;
    font-family: Lato, sans-serif;
    color: #4B0082;
    background: #AAF0D1;
    text-transform: uppercase;
    font-size: 110%;
    box-shadow: -15px -15px 10px gray;
}

.contact p {
    text-transform: lowercase;
    padding-top: 5px;
}

#motto {
    font-size: 150%;
    color: #4B0082;
    padding-top: 5px;
    text-shadow: 5px 5px 5px #4B0082;

}

/* media queries */
/* for sreens size from 1200px and down */
@media screen and (max-width: 1200px) {

    #menu li {
        clear: right;
        float: right;
        padding: 5px;
        text-transform: uppercase;
    }
}

/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {
    #menu li {
        clear: right;
        float: right;
        padding: 5px;
        text-transform: uppercase;
    }
    .tips h3 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* for sreens size from 800px and down */
@media screen and (max-width: 800px) {
    #lets-connect {
        margin: 20px;
        padding: 10px;
        clear: both;
    }

    #menu li {
        clear: both;
        float: none;
        font-size: 80%;
    }

    #cover-text {
        font-size: 60%;
        width: 300px;
        height: 50px;
    }

    .main-theme {
        font-size: 100%;
        letter-spacing: 2px;
    }

    #lifehacks {
        font-size: 100%;
    }

    #tips h3,
    #tips {
        font-size: 100%;
    
    }

    #lets-connect p {
        font-size: 80%;
    }

    .trips {
        font-size: 100%;
    }

    #own-choice {
        font-size: 100%;
    }

    #left-about h3,
    #right-about h3,
    #center-about h3 {
        font-size: 80%;
    }
    #submit-button {
        margin-left: 200px;
    }
    #left-tips {
        margin-right: 120px;
    }
    #right-tips {
        margin-left: 200px;
    }
}

/* for sreens size from 500px and down */
@media screen and (max-width: 500px) {
    #menu li {
        font-size: 60%;
        float: left;
    }

    #logo {
        font-size: 150%;
    }
#left-tips {
    font-size: 90%;
}
#right-tips {font-size: 90%;}
#submit-button {margin-left: 20px;}
#left-tips {
margin-right: 20px;
}
#right-tips {margin-left: 20px;}
label {text-align: center;}
}
