@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* headings and logo*/
header {
    display: block;
}

#logo {
    text-align: center;
    font-size: 280%;
    background-color: rgba(170, 240, 209, .3);
}


h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: gray;
}

/* menu */
#menu {
    letter-spacing: 4px;
    text-transform: lowercase;
    font-size: 130%;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-left: 100px;
    margin-right: 170px;
}

#menu a {
    text-decoration: none;
    color: gray;
    font: bolder;
}

#menu a:hover {
    color: #AAF0D1;
    background: gray;
}

/*hero image and cover-text */
#cover-text,
#cover-text h2 {
    color: #3a3a3a
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("..//css/images/image.jpeg") no-repeat center center;
    overflow: hidden;
}

#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 550px;
    height: 90px;
    padding-top: 20px;
    padding-left: 10px;
    bottom: 10px;
    left: 85px;
    position: absolute;
    background-color: rgba(255, 126, 0, .3);
}

/* main theme */
#main-theme {
    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    letter-spacing: 4px;
    padding: 30px;
    text-align: justify;
    background-color: rgba(0, 255, 255, .3);
    font-size: 150%;
}

/* lifehacks*/
.lifehacks {
    text-align: center;
    padding: 10px;
}

#tips {
    padding: 30px;
    background-color: rgba(255, 126, 0, .3);
    text-align: justify;
    font: bold;
    letter-spacing: 4px;
    list-style-type: none;
}

#tips h3 {
    text-decoration: underline;
    color: #3a3a3a;
    text-align: center;
    padding-bottom: 20px;

}

/* community trips */
#community-trips {
    height: 300px;

}

#community-trips h2 {
    text-align: center;
    padding: 10px;
}

#left-about {
    width: 33%;
    float: left;
    background: url("..//css/images/ams.jpeg") no-repeat center center;
    height: 100%;


}

.trips {
    text-align: center;
    font-family: Oswald, sans-serif;
    background-color: #AAF0D1;
    color: gray;
    font-size: 150%;
}

#own-choice {
    font-family: Oswald, sans-serif;
    color: gray;
    background-color: #AAF0D1;
    text-align: center;
    letter-spacing: 4px;
    font-size: 150%;
}

#right-about {

    width: 33%;
    float: right;
    background: url("..//css/images/iceland.webp") no-repeat center center;
    height: 100%;

}

#center-about {
    width: 33%;
    margin: 0 auto;
    background: url("..//css/images/bali.jpeg") no-repeat center center;
    height: 100%;

}

#community-trips h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    letter-spacing: 3px;
}

#community-trips a {
    color: white;
    text-decoration: none;
}


#community-trips a:hover {
    background: rgba(255, 126, 0, .3);
}

/*form let's connect */
#lets-connect {
    padding-top: 170px;
}

#form-name {
    background: white;
    text-align: center;
}


#lets-connect p {
    color: #3a3a3a;
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    padding-top: 30px;
}

form {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    letter-spacing: 3px;
    background-color: rgba(255, 126, 0, .3);
    margin-left: 30px;
    margin-right: 30px;
}

/* footer */
footer #social-links {
    text-align: center;
}

#social-links li {
    display: inline;
}

#social-links i {
    font-size: 200%;
    margin: 5px;
    padding: 10px;
    color: #3a3a3a;
}


#submit-button {
    font-size: 80%;
    font-family: Oswald, sans-serif;
    color: gray;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #AAF0D1;

}

.contact {
    text-align: center;
    font-family: Lato, sans-serif;
    color: gray;
    background: #AAF0D1;
    text-transform: uppercase;
    font-size: 110%;
}

.contact li {
    text-transform: lowercase;
}
#motto {
    font-size: 150%;
    color: gray;
}
/* media queries */
/* for sreens size from 1200px and down */
@media screen and (max-width: 1200px) {

    #menu li {
        clear: right;
        float: right;
        padding: 5px;
        text-transform: uppercase;
    }
}

/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {
    #menu li {
        clear: right;
        float: right;
        padding: 5px;
        text-transform: uppercase;
    }
}

/* for sreens size from 800px and down */
@media screen and (max-width: 800px) {
    #lets-connect {
        margin: 20px;
        padding: 10px;
        clear: both;
    }

    #menu li {
        clear: both;
        float: none;
    }

    #cover-text {
        font-size: 60%;
        width: 300px;
        height: 50px;
    }

    #main-theme {
        font-size: 100%;
        letter-spacing: 2px;
    }

    #lifehacks {
        font-size: 100%;
    }

    #lets-connect p {
        font-size: 80%;
    }
}