@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* headings and logo*/
/* this part of code was taken from "Love running project"*/
#logo {
    float: left;
    font-size: 230%;
    padding-left: 10px;
    text-shadow: 4px 4px 3px white;

}


h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4B0082;
}

/* menu */
#menu {
    letter-spacing: 4px;
    text-transform: lowercase;
    font-size: 130%;
    text-shadow: 5px 5px 8px #4B0082;

}

/*this part of code was taken from the Love running project*/
#menu,
#logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #4B0082;
    font: bolder;
    font-size: 110%;

}

#menu a:hover {
    color: #AAF0D1;


}

/*hero image and cover-text */

.hero-image {
    height: 600px;
    width: 100%;
    background: url("..//css/images/image.jpeg") no-repeat center center;
    background-size: cover;
    top: 0;
    left: 0;


}

.cover-text {
    color: #4B0082;
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 550px;
    height: 100px;

    overflow: hidden;
    position: relative;
    top: 400px;
    left: 50px;
    object-fit: cover;
    background-color: rgba(255, 126, 0, .3);
    border: 1px solid #FF7E00;
    box-shadow: -15px -15px 5px gray;
    border-style: hidden;
    text-shadow: 5px 5px 8px #4B0082;
}

/* main theme */
.main-theme {
    font-family: Oswald, sans-serif;
    color: #4B0082;
    letter-spacing: 4px;
    padding: 30px;
    text-align: justify;
    font-size: 150%;
    text-shadow: 2px 2px 8px gray;
}

#main-theme {
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 20px 20px 5px gray;
    margin: 5px;
    background: rgba(170, 240, 209, .3);
}

#main-theme h2 {
    text-align: center;
    text-shadow: 2px 2px #FF7E00;
}

/* lifehacks*/
.lifehacks {
    text-align: center;
    padding: 10px;
    color: #4B0082;

}

.image {
    float: left;
    clear: both;
    border-radius: 15px;
    box-shadow: 8px 8px 5px gray;
    margin-left: 20px;
}

#destinations {
    margin-left: 150px;
    margin-right: 70px;
    background-color: rgba(170, 240, 209, .3);
    padding: 30px;
    text-align: justify;
    padding-left: 250px;
    padding-right: 50px;

}

.img-hotel {
    float: right;
    clear: both;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: -8px -8px 5px gray;
}

#hotel-nights {
    margin-left: 120px;
    margin-right: 70px;
    background-color: rgba(170, 240, 209, .3);
    padding-left: 50px;
    padding-right: 320px;
    text-align: justify;
}

.img-research {
    float: left;
    clear: both;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 5px gray;
}

#research {
    margin-left: 150px;
    margin-right: 70px;
    background-color: rgba(170, 240, 209, .3);
    margin-bottom: 100px;
    padding-left: 250px;
    padding-right: 70px;
    text-align: justify;
}

.img-wifi {
    float: right;
    clear: both;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: -8px 8px 5px gray;
}

#wifi {
    margin-left: 150px;
    margin-right: 70px;
    background-color: rgba(170, 240, 209, .3);
    margin-bottom: 150px;
    padding-left: 70px;
    padding-right: 300px;
    text-align: justify;
}

.img-passport {
    float: left;
    clear: both;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 8px 8px 5px gray;
}

#passport {
    margin-left: 200px;
    margin-right: 60px;
    background-color: rgba(170, 240, 209, .3);
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 70px;
    text-align: justify;
}

.img-suitcase {
    float: right;
    clear: both;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: -8px 8px 5px gray;
}

#suitcase {
    margin-left: 100px;
    margin-right: 150px;
    background-color: rgba(170, 240, 209, .3);
    margin-bottom: 100px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 250px;
}

.img-danger {
    float: left;
    clear: both;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: -8px 8px 5px gray;
}

#danger {
    margin-left: 100px;
    margin-right: 150px;
    background-color: rgba(170, 240, 209, .3);
    margin-bottom: 250px;
}

.tips p {
    border: 1px solid #4B0082;
    border-radius: 10px;
    border-style: none;
    box-shadow: 20px 20px 10px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    text-shadow: 10px 10px 10px #c8a2c8;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 30px;
}

.second-tips p {
    border: 1px solid #4B0082;
    border-radius: 10px;
    border-style: none;
    box-shadow: 20px -20px 10px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    text-shadow: 10px 10px 10px #c8a2c8;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;

}

.third-tip p {
    border: 1px solid #4B0082;
    border-radius: 10px;
    border-style: none;
    box-shadow: 20px 20px 5px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    text-shadow: 10px 10px 10px #c8a2c8;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 150px;

}

.fourth-tip p {
    border: 1px solid #4B0082;
    border-radius: 10px;
    border-style: none;
    box-shadow: 20px 20px 5px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    text-shadow: 10px 10px 10px #c8a2c8;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 150px;

}

.fifth-tip p {
    border: 1px solid #4B0082;
    border-radius: 10px;
    border-style: none;
    box-shadow: 20px 20px 5px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    text-shadow: 10px 10px 10px #c8a2c8;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
}

.sixth-tip p {
    border: 1px solid #4B0082;
    border-radius: 10px;
    border-style: none;
    box-shadow: 20px 20px 5px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    text-shadow: 10px 10px 10px #c8a2c8;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 150px;

}

.seventh-tip p {
    border: 1px solid #4B0082;
    border-radius: 10px;
    border-style: none;
    box-shadow: 20px 20px 5px gray;
    color: #4B0082;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    background-color: rgba(255, 126, 0, .3);
    text-shadow: 10px 10px 10px #c8a2c8;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 200px;

}

/* community trips */



#community-trips h2 {
    text-align: center;
    padding: 10px;

}

.trips {
    text-align: center;
    font-family: Oswald, sans-serif;
    color: #4B0082;
    font-size: 150%;
    border-radius: 15px;
    text-shadow: 5px 5px 8px gray;


}

#text-trips {
    border: 1px solid #4B0082;
    border-radius: 20px;
    border-style: none;
    box-shadow: 20px 20px 5px gray;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    background: #AAF0D1;
}

#own-choice {
    font-family: Oswald, sans-serif;
    color: #4B0082;
    text-align: center;
    letter-spacing: 4px;
    font-size: 150%;
    border-radius: 15px;
    text-shadow: 5px 5px 8px gray;

}





#top-about {

    background: url("..//css/images/ams.jpeg") no-repeat;
    height: 600px;
    background-size: cover;
    margin: 70px;
    box-shadow: -15px 15px 8px gray;
    border-radius: 15px;
    margin-bottom: 30px;




}

#center-about {

    background: url("..//css/images/iceland.jpeg") no-repeat;
    height: 600px;
    background-size: cover;
    margin: 70px;
    box-shadow: -15px 15px 8px gray;
    border-radius: 15px;
    margin-bottom: 30px;
}

#bottom-about {
    margin-left: 700px;
    background: url("..//css/images/bali.jpeg") no-repeat;
    height: 600px;
    margin-top: 15px;
    background-size: cover;
    margin: 70px;
    box-shadow: -15px 15px 8px gray;
    border-radius: 15px;
    margin-bottom: 30px;





}


#top-about-text {
    color: #4B0082;
    font-size: 150%;
    border: 1px solid #AAF0D1;
    border-style: none;
    margin-left: 200px;
    margin-right: 300px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(255, 126, 0, .3);
    border-radius: 25px;
    box-shadow: 5px 5px 8px gray;
    text-shadow: 5px 5px 8px gray;
    text-align: center;
}

#center-about-text {
    color: #4B0082;
    font-size: 150%;
    border: 1px solid #AAF0D1;
    border-style: none;
    margin-left: 200px;
    margin-right: 300px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(255, 126, 0, .3);
    border-radius: 25px;
    box-shadow: 5px 5px 8px gray;
    text-shadow: 5px 5px 8px gray;
    text-align: center;
}

#bottom-about-text {
    color: #4B0082;
    font-size: 150%;
    border: 1px solid #AAF0D1;
    border-style: none;
    margin-left: 200px;
    margin-right: 300px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(255, 126, 0, .3);
    border-radius: 25px;
    box-shadow: 5px 5px 8px gray;
    text-shadow: 5px 5px 8px gray;
    text-align: center;

}


/*form let's connect */
#lets-connect {
    padding-top: 20px;
}

#form-name {
    background: white;
    text-align: center;
}


#lets-connect p {
    color: #4B0082;
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    padding-top: 30px;
    text-shadow: 5px 5px 8px #4B0082;
}

/* the part of code was taken from Love running project*/
form {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    color: #4B0082;
    letter-spacing: 3px;
    background-color: rgba(255, 126, 0, .3);
    padding-right: 30px;
    padding-left: 10px;
    border: 1px solid #FF7E00;
    border-style: none;
    box-shadow: 15px 15px 5px gray;
    border-radius: 15px;
    text-shadow: 5px 5px 8px gray;
    margin-left: 50px;
    margin-right: 50px;



}

label {
    display: inline-block;
    width: 250px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;

}

#submit-button {
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 120%;
    font-family: Oswald, sans-serif;
    color: #4B0082;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #AAF0D1;
    border: 2px solid white;

    box-shadow: 15px 15px 5px gray;
    margin-left: 500px;
    text-shadow: 5px 5px 8px #4B0082;

}

#submit-button:hover {
    background: rgba(255, 126, 0, .3);
    border: 2px solid white;

}

/* footer */
/*Was taken from the Love running project*/
footer #social-links {
    text-align: center;
}

#social-links li {
    display: inline;
}

#social-links i {
    font-size: 200%;
    margin: 5px;
    padding: 10px;
    color: #4B0082;

}

.contact {
    text-align: center;
    font-family: Lato, sans-serif;
    color: #4B0082;
    background: #AAF0D1;
    text-transform: uppercase;
    font-size: 110%;
    box-shadow: -15px -15px 10px gray;
}

.contact p {
    text-transform: lowercase;
    padding-top: 5px;
}

#motto {
    font-size: 150%;
    color: #4B0082;
    padding-top: 5px;
    text-shadow: 5px 5px 5px #4B0082;

}

/* media queries */


/* for sreens size from 950px and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
    }

    #destinations {
        margin-left: 70px;
        margin-right: 40px;
        padding-left: 50px;
        padding-right: 40px;
        font-size: 120%;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #hotel-nights {
        margin-left: 50px;
        margin-right: 40px;
        font-size: 120%;
        padding-left: 50px;
        padding-right: 320px;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #research {
        padding-left: 200px;
        padding-right: 30px;
        font-size: 120%;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #wifi {
        text-shadow: 10px 10px 15px #c8a2c8;
        padding-left: 20px;
        padding-right: 270px;
        font-size: 120%;
    }

    #passport {
        text-shadow: 10px 10px 15px #c8a2c8;
        padding-left: 150px;
        padding-right: 70px;
        font-size: 120%;
    }

    #suitcase {
        text-shadow: 10px 10px 15px #c8a2c8;
        font-size: 120%;
        padding-left: 30px;
        padding-right: 200px;
    }

    #danger {
        font-size: 120%;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #top-about-text {
        font-size: 130%;
        margin-left: 100px;
        margin-right: 100px;
    }

    #center-about-text {
        font-size: 130%;
        margin-left: 100px;
        margin-right: 100px;

    }

    #bottom-about-text {
        font-size: 130%;
        margin-left: 100px;
        margin-right: 100px;
    }

    .tips p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    .second-tips p {
        font-size: 150%;
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 70px;
    }

    .third-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 200px;
    }

    .fourth-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 200px;
    }

    .fifth-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 200px;
    }

    .sixth-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 200px;
    }

    .seventh-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 250px;
    }

}

/* for sreens size from 800px and down */
@media screen and (max-width: 800px) {


    #menu li {

        float: left;
        margin-left: 30px;
    }

    .cover-text {
        font-size: 80%;
        width: 400px;
        height: 50px;
        overflow: hidden;
        position: relative;
        top: 200px;
        left: 50px;
    }

    #destinations {
        margin-left: 70px;
        margin-right: 40px;
        padding-left: 50px;
        padding-right: 40px;
        font-size: 120%;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #hotel-nights {
        margin-left: 50px;
        margin-right: 40px;
        font-size: 120%;
        padding-left: 50px;
        padding-right: 320px;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #research {
        padding-left: 200px;
        padding-right: 30px;
        font-size: 120%;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #wifi {
        text-shadow: 10px 10px 15px #c8a2c8;
        padding-left: 20px;
        padding-right: 270px;
        font-size: 120%;
    }

    #passport {
        text-shadow: 10px 10px 15px #c8a2c8;
        padding-left: 150px;
        padding-right: 70px;
        font-size: 120%;
    }

    #suitcase {
        text-shadow: 10px 10px 15px #c8a2c8;
        font-size: 120%;
        padding-left: 30px;
        padding-right: 200px;
    }

    #danger {
        font-size: 120%;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    .tips p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    .second-tips p {
        font-size: 150%;
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 30px;
    }

    .third-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 70px;
    }

    .fourth-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 30px;
    }

    .fifth-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 30px;
    }

    .sixth-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
        margin-top: 30px;
    }

    .seventh-tip p {
        margin-left: 50px;
        margin-right: 50px;
        text-shadow: 10px 10px 15px #c8a2c8;
    }

    #top-about-text {
        font-size: 130%;
        margin-left: 100px;
        margin-right: 100px;
    }

    #center-about-text {
        font-size: 130%;
        margin-left: 100px;
        margin-right: 100px;

    }

    #bottom-about-text {
        font-size: 130%;
        margin-left: 100px;
        margin-right: 100px;
    }

    #lets-connect {
        margin: 20px;
        padding: 10px;
        clear: both;
    }

    .main-theme {
        font-size: 100%;
        letter-spacing: 2px;
    }

    #lifehacks {
        font-size: 100%;
    }

    #lets-connect p {
        font-size: 80%;
    }

    .trips {
        font-size: 100%;
    }

    #own-choice {
        font-size: 100%;
    }

    #submit-button {
        margin-left: 200px;
    }

    /* for sreens size from 500px and down */
    @media screen and (max-width: 500px) {
        #menu li {
            clear: left;
            float: left;
            margin-left: 10px;
        }

        #logo {
            font-size: 150%;
        }

        #destinations {
            margin-left: 30px;
            margin-right: 20px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 100%;

        }

        #hotel-nights {
            font-size: 100%;
            padding-left: 20px;
            padding-right: 30px;
        }

        #research {
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 30px;
            font-size: 100%;

        }

        #wifi {

            padding-left: 20px;
            padding-right: 30px;
            font-size: 100%;
            margin-left: 80px;

        }

        #passport {

            padding-left: 20px;
            padding-right: 20px;
            font-size: 100%;
            margin-left: 80px;
        }

        #suitcase {

            font-size: 100%;
            padding-left: 30px;
            padding-right: 20px;
            margin-right: 70px;
        }

        #danger {
            font-size: 100%;
            margin-right: 60px;
            text-align: justify;
        }

        .tips p {

            font-size: 120%;
        }

        .second-tips p {
            font-size: 120%;

        }

        .third-tip p {

            margin-top: 30px;
        }

        .fourth-tip p {

            margin-top: 10px;
        }

        .fifth-tip p {

            margin-top: 10px;
            margin-bottom: 0;
        }

        .sixth-tip p {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .seventh-tip p {
            margin-top: 30px;
            margin-bottom: 5px;
        }

        #community-trips h2 {
            margin-bottom: 30px;
        }

        #top-about-text {
            font-size: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }

        #center-about-text {
            font-size: 100%;
            margin-left: 20px;
            margin-right: 20px;

        }

        #bottom-about-text {
            font-size: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }

        .trips {
            font-size: 130%;
        }

        #submit-button {
            margin-left: 20px;
        }

        label {
            text-align: center;
        }
    }